{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        Канцелярия.рф
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            Интернет магазин канцелярских принадлежностей
        </div>
        <ul class="row">
            {% for category in categories %}
                <li>
                    <a href="/categories/{{ category.id }}/">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>